@import url('https://fonts.googleapis.com/css2?family=Rajdhani:wght@600&family=Rubik&display=swap');
:root {
    --default_color: #7366ff;
    --default_color_hover: #5a4bd9;
    --background_color: #1d1e26;
}
